@import "_grille.scss";
@import "rotation.scss";

$border-color : #aaa;
$textcolor:orange;

.logo_site{
    width:auto;
    height:40px;
}

.logo_bit{
    width:16px;
    height:16px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
}

.menu{
    width: 100%;
    display: flex;
    border-right : solid 0.5px $border-color;
    border-bottom : solid 0.5px $border-color;
    border-radius: 1px;
    box-shadow: 8px 8px 12px #aaa;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
}

.logo{
    height: 25px;
    width: 25px;
}

.reseau{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.menu h1{
   flex-direction:column;
}

.menu .text{
    align-self: flex-start;
}

.navbar ul{
    
}

.navbar li{
    margin-top: 0.5em;
}

.navbar{
    color: $textcolor;
}

h3{
    color: $textcolor;
}

article{
    box-shadow: 8px 8px 12px #aaa;
    border-radius: 1px;
    width:100%;
    margin: 1em;
}
article img{
    width: 100%;
    height: auto;
}

// .container{
//     justify-content: space-around;
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-gap: 10px;
//     grid-auto-rows: minmax(100px, auto);
// }
.container{
   @include container(2);
   @include placement_xs();
   margin-left: 0;
   width: 98%;
}

#contenu{
    margin-top: 1em;
}

li:nth-child(1){
    list-style-image: url("../logo/signature.png");

   
   
}

li:nth-child(2){
    list-style-image: url("../logo/folder.png");
   
   
}

li:nth-child(8){
    list-style-image:  url("../logo/user.png");
   
   
}
li:nth-child(12){
    list-style-image:url("../logo/magnifying-glass.png");
   
   
}
li:nth-child(13){
    list-style-image:  url("../logo/icon.png");
   
   
}
ul {
    list-style: none;
  }

// format s
@media screen and (min-width:376px) and (max-width:640px){
    .container{
        @include container(3);
        @include placement_s();
    }
}


#article1{
    @include rotate(-1.5deg); 
}
#article2{
    @include rotate(1.5deg); 
}
#article3{
    @include rotate(-1.5deg); 
}
#article4{
    @include rotate(0.7deg); 
}
#article5{
    @include rotate(-0.7deg); 
}
#article6{
    @include rotate(0.7deg); 
}

#article7{
    @include rotate(-1.5deg); 
}
#article8{
    @include rotate(1.5deg); 
}
#article9{
    @include rotate(-1.5deg); 
}
#article10{
    @include rotate(-1.2deg); 
}

hr {
    border: 6px solid black;
    width:30px;
    float:left;
  }

  .pertinence {
    position: absolute;
  top: 8px;
  left: 16px;
    color:white;
    text-shadow: 2px 2px 2px black;
   
}
