$border-color : grey;
$textcolor:orange;

#logo_site{
    width:auto;
    height:40px;
}
#logo_bit{
    width:16px;
    height:16px;
}
.menu{
    width: 100%;
    display: flex;
    border-right : solid 0.5px $border-color;
    border-bottom : solid 0.5px $border-color;
    border-radius: 1px;
    box-shadow: 2px 2px 10px $border-color;
}

.logo{
    height: 25px;
    width: 25px;
}

.reseau{
    display: inline-flex;
    justify-content: flex-end;
}

.menu h1{
   justify-content: flex-start;
   align-items: flex-start;
}

.menu{
    justify-content: flex-start;
    align-items: flex-start;
}

.navbar{
color: $textcolor;
}
h2{
    color: $textcolor;
}
article{
    box-shadow: 8px 8px 12px #aaa;
    width:100%;

}
.container{
justify-content: space-around;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
grid-auto-rows: minmax(100px, auto);
}